<% id = document.id %>
<tr id="document_<%= id %>">
  <td>&nbsp;
    <% if current_user and document.depositor != current_user.user_key %>
      <i class="glyphicon glyphicon-share-alt"/>
    <% end %>
  </td>
  <td>
    <div class="media">
      <%= link_to document, class: "media-left" do %>
        <%= render_thumbnail_tag document, { class: "hidden-xs file_listing_thumbnail" }, { suppress_link: true } %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to document.title_or_label, document, id: "src_copy_link#{id}", class: "#{'document-title' if document.title_or_label == document.label}" %>
          <%# CHF: remove 'click for more details' / expanded-details row %>
        </h4>
        <%= render_collection_links(document) %>
      </div>
    </div>
  </td>
  <td class="text-center"><%= document.date_uploaded %> </td>
  <td class="text-center">
    <%= render_visibility_link(document) %>
  </td>
  <% if current_user %>
    <td class="text-center">
      <%= render'show_document_list_menu', document: document %>
    </td>
  <% end %>
</tr>
