<%# adapted from sufia/curatoin_concerns, to more simply show a collection
    at top, and have full catalog-style search results at bottom

The underlying code in stack is a bit of a mess, so this customization seems perhaps likely to break on future upgrades.
%>

<% provide :page_title, construct_page_title(@presenter.title) %>
<% provide :suppress_layout_constraints, true %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="collection-show">

  <div class="show-admin">
    <%= render 'collections/show_actions', presenter: presenter %>
  </div>

  <div class="collection-top">
    <div class="collection-desc clearfix">
      <div class="show-title">
        <header>
          <% if presenter.needs_permission_badge? %>
            <div class="show-permission-badge">
              <%= presenter.permission_badge %>
            </div>
          <% end %>

          <div class="show-genre"><%= link_to "Collections", collections_path %></div>
          <h1><%= presenter.title.first %></h1>
        </header>
      </div>

      <div class="show-metadata">
        <p class="show-item-count"><%= number_with_delimiter(presenter.total_items) + ' item'.pluralize(presenter.total_items) %></p>

        <%= render 'collection_description', presenter: presenter %>

        <table class="<%= dom_class(presenter) %> chf-attributes">
          <% presenter.urls_to_catalog.each do |url| %>
            <tr>
              <td colspan="2"><%= link_to "View in library catalog", url %></td>
            </tr>
          <% end %>

          <%= presenter.attribute_to_html(:related_url, render_as: :chf_related_url) %>
        </table>
      </div>

    </div>

    <div class="collection-thumb">
      <%= render 'collections/media_display', presenter: @presenter %>
    </div>
  </div>


  <div class="chf-collection-search">
    <h2 class="chf-collection-search-title">
          Search within the <%= presenter.title.first %>
    </h2>
    <div class="chf-collection-search-form"><%= render 'search_form', presenter: presenter %></div>
  </div>

  <div class="chf-constraints-wrapper">
    <%= render 'catalog/constraints' %>
  </div>

  <%# built in sufia collections/sort_and_per_page overrides to some years old Blacklight. We want
      the normal one we're actually using. %>
    <%# render 'sort_and_per_page', collection: @presenter %>

    <%# now we just call out to our own overridden catalog/search_header %>
    <%= render 'search_header' %>

  <%#  replacing `render_document_index @member_docs` %>
    <%# not sure what some of this is about, but this is extracted from:
        https://github.com/samvera/sufia/blob/v7.3.0/app/views/collections/_document_list.html.erb

        which ends up being called by `render_document_index` %>

    <% if member_docs.empty? %>
      <div class="alert alert-warning" role="alert"><%= t('sufia.collection.document_list.no_visible_works') %></div>
    <% else %>
      <% if params[:action] == "edit" %>
        <%= render partial:'my/_index_partials/default_group', locals:{ documents: member_docs, docs:member_docs } %>
      <% else %>
        <%# this part we override to render our own thing instead of sufia's thing for results on
            collection page.
            Used to be:  `render partial: 'show_document_list', locals:{documents: documents}`, which
            would be: https://github.com/samvera/sufia/blob/v7.3.0/app/views/collections/_show_document_list.html.erb %>
        <ul class="list-unstyled collection-items">
          <%# Don't entirely understand how this works to get the proper partial, but it does,
              and should work for hetereogenous lists too. Basically taken from sufia
              https://github.com/samvera/sufia/blob/v7.3.0/app/views/catalog/_document_list.html.erb
           %>
          <%= render member_docs, as: :document %>
        </ul>
      <% end %>
    <% end %>

  <%# end replacing `render_document_index @member_docs/ %>



  <%# copied from our customized catalog/results_pagination, sorry no DRY, it's beyond me at this point %>

  <% if show_pagination? and @response.total_pages > 1 %>
      <%# expanded will be shown by CSS at large screen sizes, else compact %>

      <div class="pagination pagination-alt-expanded">
        <%= paginate @response, :window => 3, :outer_window => 1, :theme => 'local' %>
      </div>

      <div class="pagination pagination-alt-compact">
        <%= paginate @response, :page_entries_info => page_entries_info(@response), :theme => 'blacklight_compact' %>
      </div>

  <% end %>

</div>
