<div class="show-page-audio-playlist-wrapper">
    <div class="now_playing_container">
        <div class="now_playing_info">
            <span class="current-track-label"></span>

            <a href="mp3_url"      class="mp3_download" title="Download an optimized mp3 version of this file.">
                <span class="glyphicon glyphicon-download-alt"></span> optimized mp3
            </a>
            <a href="original_url" class="original_download" title="Download the original version of this file.">
                <span class="glyphicon glyphicon-download-alt"></span> original
            </a>
        </div>

        <audio controls controlsList="nodownload">
            <source src=""  type="audio/mpeg" />
            <source src=""  type="audio/webm" />
        </audio>
    </div>

    <ul class="track-listings">
        <% @presenter.audio_playlist_presenters.each_with_index do |member| %>
            <li class="track_listing"
                data-title="<%= member.title.first %>"
                data-member-id="<%= member.id %>"
                data-mp3-url="<%= CHF::AudioDerivativeMaker.s3_url(file_set_id:member.id, file_checksum:member.representative_checksum, type_key: :standard_mp3) %>"
                data-webm-url="<%= CHF::AudioDerivativeMaker.s3_url(file_set_id:member.id, file_checksum:member.representative_checksum, type_key: :standard_webm) %>"
            >
                <a class="title" title="Listen to '<%= member.title.first %>'" >
                    <%= member.title.first %>
                </a>
            </li>
        <% end %>

    </ul>
</div>



