<%# CHF custom, an image with overlaid controls and info. Used as an alternative to
    `representative_media` for show page, as well as for page thumbs on show page

    Locals:
      * size: :large (used for big hero image) or :standard used for subsequent
        page images.
      * lazy_after: optional. used when this is used as a collection partial, make images
          lazy loading after the first N images, where N is the lazy_after value.
      * extra_classes: optional. extra CSS calsses added to the wrapper <div> tag.

%>
<%= content_tag("div",
      class: ["show-page-image-wrapper"] + Array(local_assigns[:extra_classes]),
      data: viewer_trigger_data_attributes(parent_id: @presenter.id, member: member)
    ) do %>
  <%= content_tag("div", class: "show-page-image") do %>

      <%= member_image_tag(parent_id: @presenter.id, member: member,
                           size_key: local_assigns[:size],
                           lazy: (local_assigns[:lazy_after] && member_counter > local_assigns[:lazy_after] - 1))
      %>

      <% if current_ability.current_user.staff? || member.model_name.singular.to_sym != :file_set %>
        <div class="show-page-member-title">
          <%= member.title.first %>
        </div>
      <% end %>

      <div class="show-page-image-permission">
        <% if member.needs_permission_badge? %>
          <%= member.permission_badge %>
        <% end %>
      </div>
  <% end %>
  <div class="show-page-image-bar">
    <% if (member.model_name.singular.to_sym == :file_set) && can?(:read, member.id) %>
      <div class="btn-group dropup">
        <button type="button" class="btn btn-brand-alt dropdown-toggle" id="dropdownMenu_downloads_<%= member.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%# less space for admin, just use icon %>
          <i class='fa fa-download'></i> Download
        </button>
        <%= member_download_menu(member, parent: @presenter, labelled_by: "dropdownMenu_downloads_#{member.id}") %>
      </div>
    <% end %>

    <% if local_assigns[:size].to_s == "large" %>
      <div class="btn-group">
        <%= content_tag("button", type: "button", class: "btn btn-brand-alt dropdown-toggle", data: viewer_trigger_data_attributes(parent_id: @presenter.id, member: member)) do %>
          <i class='fa fa-search'></i> View
        <% end %>
      </div>
    <% end %>


    <% if (member.model_name.singular.to_sym == :file_set) && current_ability.current_user.staff? %>
      <div class="btn-group dropup">
        <button class="btn btn-brand-alt dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_actions_<%= member.id %>" aria-haspopup="true">
          <i class='fa fa-cog'></i>  Admin
        </button>
        <%= file_set_actions_menu(member, parent: @presenter, labelled_by: "dropdownMenu_actions_#{member.id}" ) %>
      </div>
    <% elsif member.model_name.singular.to_sym != :file_set %>
      <%= link_to  contextual_path(member, @presenter), class: "btn btn-brand-alt show-page-image-info" do %>
         Info
      <% end %>
    <% end %>

  </div>
<% end %>


