<%# CHF custom, an image with overlaid controls and info. Used as an alternative to
    `representative_media` for show page, as well as for page thumbs on show page

    Locals:
      * size: :large (used for big hero image) or :medium used for subsequent
        page images. Default :medium
      * lazy_after: optional. used when this is used as a collection partial, make images
          lazy loading after the first N images, where N is the lazy_after value.
      * extra_classes: optional. extra CSS calsses added to the wrapper <div> tag.

%>
<%
   # this was just derived from just looking in the browser at our present
   # CSS, what's the widest the 'large' and 'medium' images can be at
   # any responsive CSS?
   base_width = local_assigns[:size] == :large ? 525 : 208
%>
<%= content_tag("div",
      tabindex: "0",
      data: {
        # only trigger the viewer if there's an image to show in it
        trigger: member.riiif_file_id ? "chf_image_viewer" : "",
        member_id: member.representative_id
      },
      class: ["show-page-image"] + Array(local_assigns[:extra_classes])) do
%>
    <% if member.riiif_file_id.nil? %>
      <%# if there's no image, show the default thumbnail (it gets indexed) %>
      <%= image_tag member.thumbnail_path,
                    class: "show-page-image-image",
                    alt: ""
      %>
    <% elsif local_assigns[:lazy_after] && member_counter > local_assigns[:lazy_after] - 1 %>
      <%= image_tag nil,
                    class: "lazyload show-page-image-image",
                    alt: "",
                    data: {
                      src: riiif_image_url(member.riiif_file_id, format: "jpg", size: "#{base_width},"),
                      srcset: riiif_image_srcset_pixel_density(member.riiif_file_id, base_width)
                    }
      %>
    <% else %>
      <%= image_tag riiif_image_url(member.riiif_file_id, format: "jpg", size: "#{base_width},"),
                    class: "show-page-image-image",
                    srcset: riiif_image_srcset_pixel_density(member.riiif_file_id, base_width),
                    alt: "",
                    data: {
                      trigger: "chf_image_viewer",
                      member_id: member.id
                    }
      %>
    <% end %>

    <% if current_ability.current_user.staff? || member.model_name.singular.to_sym != :file_set %>
      <div class="show-page-member-title">
        <%= member.title.first %>
      </div>
    <% end %>

    <div class="show-page-image-permission">
      <% if member.needs_permission_badge? %>
        <%= member.permission_badge %>
      <% end %>
    </div>

    <div class="show-page-image-bar">
      <% if (member.model_name.singular.to_sym == :file_set) && can?(:read, member.id) %>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%# less space for admin, just use icon %>
            <i class='fa fa-download'></i> <% if ! current_ability.current_user.staff? %> Download <% end %>
          </button>

          <%= render "chf_download_menu", member: member, parent: @presenter %>
        </div>

      <% end %>

      <% if (member.model_name.singular.to_sym == :file_set) && current_ability.current_user.staff? %>
        <%= render "show_page_image_file_set_actions", file_set: member, presenter: @presenter %>
      <% elsif member.model_name.singular.to_sym != :file_set %>
        <%= link_to "Info", contextual_path(member, @presenter), class: "btn btn-primary show-page-image-info" %>
      <% end %>

    </div>
<% end %>



