<%# CHF custom, alternative to `representative_media` for show page, image
    with overlayed controls and info %>
<%= content_tag("div", class: ["show-page-image"] + Array(local_assigns[:extra_classes])) do %>
  <a href="javascript: alert('this would open a viewer but not implemented yet');" class="show-page-image-viewer-link"></a>

    <% if local_assigns[:lazy_after] && member_counter > local_assigns[:lazy_after] - 1 %>
      <%= image_tag nil,
                    class: "lazyload show-page-image-image",
                    alt: "",
                    data: {
                      src: main_app.download_path(member.representative_id, file: "jpeg")
                    }
      %>
    <% else %>
      <%= image_tag main_app.download_path(member.representative_id, file: "jpeg"),
                    class: "show-page-image-image",
                    alt: ""
      %>
    <% end %>

    <div class="show-page-image-permission">
      <% if member.needs_permission_badge? %>
        <%= member.permission_badge %>
      <% end %>
    </div>

    <div class="show-page-image-bar">
      <% if (member.model_name.singular.to_sym == :file_set) && can?(:read, member.id) %>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if local_assigns[:actions_as_icon] %>
              <i class='fa fa-download'></i>
            <% else %>
              <i class='fa fa-download'></i> Download
            <% end %>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to main_app.download_path(member.representative_id),
                          target: "_new",
                          id: "file_download",
                          data: { label: member.id } do %>
                  Original Image
              <% end %>
            </li>
            <li class="divider"></li>
            <li><a>More download options coming</a></li>
          </ul>
        </div>
      <% end %>

      <% if (member.model_name.singular.to_sym == :file_set) && current_ability.current_user.staff? %>
        <%= render "show_page_image_file_set_actions", file_set: member, presenter: @presenter %>
      <% else %>
        <%= link_to (local_assigns[:actions_as_icon] ? "<i class='fa fa-info'></i>".html_safe : "Info"), contextual_path(member, @presenter), class: "btn btn-primary show-page-image-info" %>
      <% end %>

    </div>
<% end %>



