<% provide :page_title, @presenter.page_title %>

<div class="work-show" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <% if current_ability.current_user.staff? %>
    <div class="work-show-admin">
      <%= render "show_actions", presenter: @presenter %>
      <%= render 'workflow_actions_widget', presenter: @presenter %>
    </div>
  <% end %>

  <div class="work-show-title">
    <header>
      <%= @presenter.permission_badge %>
      <h1><%= @presenter.title.first %></h1>

      <% if @presenter.additional_title.present? %>
        <ul class="additional-titles list-unstyled">
          <% @presenter.additional_title.each do |title| %>
            <li><h2><%= title %></h2></li>
          <% end %>
        </ul>
      <% end %>
    </header>
  </div>

  <div class="work-show-representative">
      <%= show_page_representative_media(@presenter) %>
      <div class="rights-and-social">
        <%= render 'rights_statement', presenter: @presenter, theme: 'large' %>
        <%= render 'social_media' %>
      </div>
  </div>


  <div class="work-show-metadata">
    <%= render 'work_description', presenter: @presenter %>
    <%= render 'relationships', presenter: @presenter %>
    <%= render 'metadata', presenter: @presenter %>
    <% if current_ability.current_user.staff? %>
      <%= t('.last_modified', value: @presenter.date_modified) %>
    <% end %>
    <%= render 'citations', presenter: @presenter %>
  </div>


  <%# these are not in a div so they can wrap around the bottom of the metadata
      div to take up all space. Experiment? Hack to make sure they start after
      big representative image %>
  <div style="clear: left"></div>

  <%= render partial: 'show_page_image',
             collection: @presenter.show_thumb_member_presenters,
             as: :member,
             locals: {
               extra_classes: 'thumb',
               actions_as_icon: true,
               lazy_after: 6
             }
  %>
</div>


