<% content_for :page_title, application_name %>
<% content_for :container_class, "container-fluid homepage-content-wrapper branded-body-font" %>
<% provide :foo, "bar" %>
<% provide :suppress_controls, true %>

<div class="homepage-wrapper">

  <div class="row hero-search-container no-gutters">
    <figure class="hero-image col-xs-12 col-md-6">
      <%= image_tag "hero_image_2x.jpg", alt: "" %>
      <figcaption><%= hero_link('w6634363x') %></figcaptionw>
    </figure>
    <div class="col-xs-12 col-md-6 home-right-column">
      <div class="row search-container">
        <div class="digital-description col-xs-12 col-sm-6 col-md-12">
          <div class="pre-heading">Science History Institute</div>
          <h2 class="brand-alt-h2">Digital Collections</h2>
          <p>Search <%= number_with_delimiter(public_works_count) %> of our digitized items: artifacts, photographs, advertisements, letters, rare books, and more. You can also learn more about the rest of our <a href="https://sciencehistory.org/collections">collections.</a></p>
        </div>
        <div class="search-callouts col-xs-12 col-sm-6 col-md-12">
          <%= render 'catalog/search_form' %>
          <%# TODO: add 'public domain only' toggle %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'sufia/homepage/recent_items' %>

  <div class='row categories-title-div'>
    <h2 class="brand-alt-h2">Featured Topics</h2>
  </div>

  <div class="row categories-list">
    <%= render partial: "category_teaser", collection: CHF::SyntheticCategory.all, as: :category %>
  </div>
  <%= render 'sufia/homepage/featured_collection' %>

</div>
<%= render 'shared/accept_cookies_banner' %>