<!-- scholarsphere override -->
<% id = document.id %>
<tr id="document_<%= id %>" class="<%= cycle("","zebra") %>">
  <td width="3%"></td>
  <td width="41%">
    <div class="media">
      <%= link_to [collections, document], class: "pull-left", "aria-hidden" => true do %>
          <%= image_tag "site_images/collection-icon.svg", class: "collection-icon-small" %>
      <% end %>
      <div class="media-body">
        <div class="media-heading">
          <%= link_to  collections.collection_path(id), id: "src_copy_link#{id}" do %>
              <span class="sr-only"><%= t("sufia.dashboard.my.sr.show_label") %> </span>
              <%= document.title_or_label %>
          <% end %>
          <%# CHF: remove 'click for more details' / expanded-details row %>
        </div>
      </div>
    </div>
  </td>
  <td width="17%" class="text-center"><%= document.create_date %> </td>
  <td width="5%" class="text-center visibility-link">
    <%= render_visibility_label(document) %>
  </td>
  <td class="text-center">
    <%= render partial:'collection_action_menu', locals: { id: id } %>
   </td>
</tr>
