<% id = document.id %>
<tr id="document_<%= id %>">
  <td></td>
  <td>
    <div class="media">
      <%= link_to document, class: "pull-left", "aria-hidden" => true do %>
          <span class="fa fa-cubes collection-icon-small"></span>
      <% end %>
      <div class="media-body">
        <div class="media-heading">
          <%= link_to document, id: "src_copy_link#{id}" do %>
              <span class="sr-only"><%= t("sufia.dashboard.my.sr.show_label") %> </span>
              <%= document.title_or_label %>
          <% end %>
          <%# CHF: remove 'click for more details' / expanded-details row %>
        </div>
      </div>
    </div>
  </td>
  <td class="text-center"><%= document.create_date %> </td>
  <td class="text-center">
    <%= render_visibility_link(document) %>
  </td>
  <td class="text-center">
    <%= render 'collection_action_menu', id: id %>
   </td>
</tr>
