<%# copied and modified from
https://github.com/projecthydra/sufia/blob/8bb451451a492e443687f8c5aff4882cac56a131/app/views/collections/_sort_and_per_page.html.erb
%>

<div class="sort-toggle">
     <% if @response.response['numFound'] > 1 && !sort_fields.empty? %>
        <%= form_tag "", method: :get, class: 'per_page form-horizontal' do %>
             <div class="form-group form-group-lg">
               <fieldset class="col-xs-12 col-sm-9 col-md-8 col-lg-10">
                 <legend class="sr-only"><%= t('sufia.sort_label') %></legend>
                 <%= label_tag(:sort, "<span>Sort By:</span>".html_safe) %>
                 <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort]))) %>
                 <%= label_tag(:per_page) do %>
                     Show <%= select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page])), title: "Number of results to display per page") %>
                     per page
                 <% end %>
                 <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:per_page, :sort)) %>
                 &nbsp;&nbsp;&nbsp;
                 <button class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
               </fieldset>
                 <div class="view-type col-xs-12 col-sm-3 col-md-4 col-lg-2">
                   <strong><%= @response.total %> Items</strong>
                 </div>
             </div>
         <% end %>
      <% end %>
</div>
