<%# largely copied and altered/simplified  from
https://github.com/projecthydra/sufia/blob/v7.3.0/app/views/collections/show.html.erb

To look like that, so it can even use the same styles,
but be simpler just based on a simple SyntheticCategory
%>

<% provide :page_title, construct_page_title(synthetic_category.title) %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="row">
  <div class="col-sm-10 pull-right">
    <header>
      <h1><%= synthetic_category.title %></h1>
    </header>

    <p class="collection_description"><%= synthetic_category.description %></p>
  </div>
  <div class="col-sm-2">
    <%# replace with custom graphic %>
    <span class="<%= Sufia::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>
  </div>
</div>

<div class="row">
  <h2 class="col-xs-6 col-md-7 col-lg-6">
    Items in <%= synthetic_category.title %>
  </h2>
  <div class="col-xs-6 col-md-5 col-lg-6"><%= render 'search_form', presenter: synthetic_category %></div>
</div>


<%= render 'sort_and_per_page' %>

<%= render_document_index results %>

<%= render 'paginate' %>
